body, html {
    background-color: #333;
    font-family: Arial, sans-serif;
}
.lobbytext {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 46px;
}
.button1 {
    background-color: yellow;
    color: black;
    border: none;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Macht den Button rund */
    width: 100px; /* Passe die Breite nach Bedarf an */
    height: 100px; /* Passe die Höhe nach Bedarf an */
}
